.App {
  text-align: center;
}
body 
{background-color: rgb(190, 109, 79);}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
img {
  margin: auto;
  display: block;
  height: 400px;
}

.App-link {
  color: #61dafb;
}

